<!DOCTYPE html>
<html>

<head>
    <title>Game Sessions</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Game Sessions</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
            {{ range .sessions }}
            <tr>
                <td>{{ .User.Name }}</td>
                <td>{{ .StartTime }}</td>
                <td>{{ .EndTime }}</td>
                <td>{{ .TotalScore }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>

</html>