<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Revelio - Game</title>
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <h2>Logo Revelio!</h2>
    <p>Fill out the logos of each one and check if its right! When you're done, click End Game to check the leaderboard
        :)
    </p>

    <div class="grid-container">
        {{ range $logoname, $path := .logos }}
        <div class="grid-item">
            <img src="{{ $path }}" alt="{{ $logoname }}">
            <input type="text" name="{{ $logoname }}" placeholder="Enter your answer">
            <button class="submit-button" id="{{ $logoname }}" onclick="submitAnswer('{{ $logoname }}')">Check</button>
            <p class="result" id="{{ $logoname }}-result"></p>
        </div>
        {{ end }}
    </div>

    <form action="/end-game" method="POST">
        <button class="end-button" type="submit" id="end-game-button">End Game</button>
    </form>

    <script>
        // Initialize the current score in local storage
        localStorage.setItem('currentScore', 0);

        function submitAnswer(logoname) {
            const answerInput = document.querySelector('input[name="' + logoname + '"]');
            const answer = answerInput.value;
            const url = "/api/v1/check-answer";

            // Get the user ID from localStorage
            const userId = Number(localStorage.getItem('userId'));

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userID: userId, logoName: logoname, userAnswer: answer }),
            })
                .then(response => response.json())
                .then(data => {
                    const resultElement = document.getElementById(logoname + '-result');
                    if (data.correct) {
                        // Remove incorrect animation and styling
                        resultElement.classList.remove("incorrect-animation", "incorrect-answer");
                        // Apply correct animation and styling
                        resultElement.innerText = "Correct!";
                        resultElement.classList.add("correct-animation", "fade-in-animation", "correct-answer");
                        const submitButton = document.getElementById(logoname);
                        submitButton.remove();
                        // Increment the current score in local storage
                        const currentScore = parseInt(localStorage.getItem('currentScore'));
                        localStorage.setItem('currentScore', currentScore + 1);
                    } else {
                        // Remove correct animation and styling
                        resultElement.classList.remove("correct-animation", "correct-answer");
                        // Apply incorrect animation and styling
                        resultElement.innerText = "Incorrect! Try again.";
                        resultElement.classList.add("incorrect-animation", "fade-in-animation", "incorrect-answer");
                    }
                })

                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        // Function to handle "End Game" action
        function endGame() {
            // Calculate the final score
            // Get the userID and finalScore from localStorage
            const userId = localStorage.getItem('userId');
            const finalScore = parseInt(localStorage.getItem('currentScore'));

            // Send the final score to the server
            fetch('/api/v1/final-score', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userID: userId, finalScore: finalScore }),
            })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

</body>

</html>