<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Revelio</title>
</head>

<body>
    <h2>Welcome to Logo Revelio!</h2>
    <form id="start-game-form">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Start Game</button>
    </form>

    <br>
    <hr>
    <br>
    <form action="/api/v1/allusers" method="GET">
        <button type="submit">Get Users</button>
    </form>
    <form action="/api/v1/userscores" method="GET">
        <button type="submit">Get All Scores</button>
    </form>
    <form action="/api/v1/toptenscores" method="GET">
        <button type="submit">Get Top 10 Scores</button>
    </form>
</body>

<script>
    const form = document.getElementById('start-game-form');
    form.addEventListener('submit', function (e) {
        // Prevent the form from submitting normally
        e.preventDefault();

        // Get the name from the form input
        const userName = document.getElementById('name').value;

        // Send a POST request to the server
        fetch('/api/v1/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: userName }),
        })
            .then(response => response.json())
            .then(data => {
                // Save the user ID to localStorage
                localStorage.setItem('userId', data.userId);

                // Proceed to the game page
                window.location.href = "/game/" + data.userId;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>

</html>