<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
</head>

<body>
    <h2>Thank You for playing Logo Revelio!</h2>

    <p>Hope it was fun trying to guess the Logos. We appreciate your time!</p>

    <div>
        <button onclick="goToHomePage()">Home Page</button>
        <button onclick="goToAllScores()">See All Scores</button>
        <button onclick="goToTopTenScores()">See Top 10 Scores</button>
    </div>

    <script>
        // Function to navigate to the home page
        function goToHomePage() {
            window.location.href = "/";
        }

        // Function to navigate to the page showing all scores
        function goToAllScores() {
            window.location.href = "/userscores";
        }

        // Function to navigate to the page showing top 10 scores
        function goToTopTenScores() {
            window.location.href = "/toptenscores";
        }
    </script>
</body>

</html>