<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Ten Scores</title>
    <style>
        table {
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">All Users</h1>
    <div style="display: flex; justify-content: center;">
        <table style="table-layout: fixed; width: 50%;">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 40%;">
            </colgroup>
            <tr>
                <th>UserID</th>
                <th>Score</th>
                <th>Achieved At</th>
            </tr>
            {{ range .scores }}
            <tr>
                <td>{{ .UserID }}</td>
                <td>{{ .Score }}</td>
                <td>{{ .AchievedAt.Format "2006/01/02 - 15:04:05" }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</body>

</html>